:root {
  --primary-color: #000;
}

/* .template {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    padding: 1rem;
  } */

/* .signature-pad-form {
    width: 300px;
    margin: 0 auto;
  } */

.signature-pad {
  cursor: crosshair;
  border: 2px solid #000;
  border-radius: 4px;
}